.rmdb-grid h1 {
  font-family: 'Abel', sans-serif;
  font-size: 42px;
}

.rmdb-grid-content {
  display: grid;
  grid-template-columns: auto auto auto;
}

.rmdb-grid-element {
  margin: 0 40px 40px 0;
  background: #353535;
  max-height: 430px;
  animation: animateGrid 0.5s;
  overflow: hidden;
  text-align: center;
}

@keyframes animateGrid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For a 4-column grid */
.rmdb-grid-element:nth-child(3n + 3) {
  margin-right: 0;
}

@media screen and (max-width: 720px) {
  .rmdb-grid-content {
    grid-template-columns: auto auto;
  }

  .rmdb-grid-element:nth-child(2n + 2) {
    margin-right: 0;
  }

  .rmdb-grid h1 {
    font-size: 22px;
  }
}
