.header-first {
  height: 55vh;
  width: 100%;
  border: 1px solid black;
  background-image: url(https://buteauapi.files.wordpress.com/2016/05/cropped-cropped-marvel.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightgrey;
}
